.shareWrapper {
  padding: 1rem;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 0.68) 0px 0px 16px -8px;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  margin-top: 1rem;
}
.shareTop {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid rgb(110, 110, 110);
}
.shareTop img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.shareInput {
  border: none;
  margin-left: 1rem;
  font-size: 1.6rem;
  width: 80%;
}
.shareBottom {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  margin: 0 2rem;
}
.shareOptions {
  display: flex;
  align-items: center;
  flex: 9;
}
.shareOption {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  cursor: pointer;
}
.shareOption .photoIcon {
  color: #ff6347;
  font-size: 2rem;
}
.shareOption .tagIcon {
  color: #1900ff;
  font-size: 2rem;
}
.shareOption .locationIcon {
  color: #008000;
  font-size: 2rem;
}
.shareOption .feelingsIcon {
  color: #daa520;
  font-size: 2rem;
}
.shareOption span {
  font-size: 1.4rem;
  font-weight: 500;
  padding-left: 0.5rem;
}
.shareButton {
  flex: 2;
  text-align: right;
}
.shareButton button {
  border: none;
  padding: 0.8rem 1.5rem;
  background-color: #008000;
  color: #fff;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  cursor: pointer;
}
